<!DOCTYPE html>
<html style="height: 100%">
<head>
  <title>Game</title>
  
  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  
   
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body style="height: 100%" background="/../gifs/space.jpeg">
<div style="margin-left: 50px">
	<h2 style="color: #EF5B25; font-weight: bold">Postdot Games</h2>
	<div class="row">
		<form action="/login" method="get">
			<button class="waves-effect waves-light btn-large col s5" style="background-color: black; margin: 21px white solid;">Log In</button>
		</form>
		<form action="/register" method="get">
			<button class="waves-effect waves-light btn col s5">Sign Up</button>
		</form>
	</div>	
</div>
</body>
</html>